* {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.loginBox {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 350px;
    padding: 10px 20px 20px 20px;
    margin: -200px 0 0 -175px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
}

.errMsg {
    padding-left: 20px;
    color: darkred;
    display: inline;
}

.submitBtn {
    width: 80px;
    margin-top: 20px;
    border-radius: 3px;
    background: teal;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.submitBtn:hover {
    transform: scale(1.1);
}